# Python virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Environment variables
.env
.env.*

# Logs
*.log

# Local development settings
.DS_Store

# Data folder
data/
